@model eUseControl.Models.UserRegistration
@{
    Layout = "~/Views/Shared/_LPages.cshtml";
}
<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn"> Регистрация</h1>
            <a href="" class="h4 text-white">На главную</a>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.1s">
            </div>
            <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                <form method="post" action="@Url.Action("SignUp", "Login")">
                    @Html.AntiForgeryToken()
                    <div class="row g-3">
                        <div class="col-12">
                            @Html.LabelFor(x => x.FirstName, new { @class = "form-lable" })
                            <br />
                            @Html.TextBoxFor(x => x.FirstName, new { @type = "FirstName" })
                            @Html.ValidationMessageFor(x => x.FirstName)
                            <br />
                        </div>
                        <div class="col-12">
                            @Html.LabelFor(x => x.LastName, new { @class = "form-lable" })
                            <br />
                            @Html.TextBoxFor(x => x.LastName, new { @type = "LastName" })
                            @Html.ValidationMessageFor(x => x.LastName)
                        <br />
                        </div>
                        <div class="col-12">
                            @Html.LabelFor(x => x.Phone, new { @class = "form-lable" })
                            <br />
                            @Html.TextBoxFor(x => x.Phone, new { @type = "Phone" })
                            @Html.ValidationMessageFor(x => x.Phone)
                        <br />
                        </div>
                        <div class="col-12">
                            @Html.LabelFor(x => x.Email, new { @class = "form-lable" })
                            <br />
                            @Html.TextBoxFor(x => x.Email, new { @type = "Email" })
                        <br />
                            @Html.ValidationMessageFor(x => x.Email,"", new { @class = "text-danger" })
                        
                        </div>
                        <div class="col-12">
                            @Html.LabelFor(x => x.Password, new { @class = "form-lable" })
                            <br />
                            @Html.TextBoxFor(x => x.Password, new { @type = "Password" })
                            @Html.ValidationMessageFor(x => x.Password)
                        <br />
                        </div>
                        <div class="col-12">
                            @Html.LabelFor(x => x.ConfirmPassword, new { @class = "form-lable" })
                            <br />
                            @Html.TextBoxFor(x => x.ConfirmPassword, new { @type = "Password" })
                            <br />
                            @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Регистрация</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-4 col-lg-12 wow slideInUp" data-wow-delay="0.6s">
            </div>
        </div>
    </div>
</div>