@using System.Web.Optimization
@model eUseControl.Models.UserLogin

@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_LPages.cshtml";
}
    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 hero-header mb-5">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Вход в аккаунт</h1>
                <a href="" class="h4 text-white">На главную</a>


            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.1s">

                </div>

                @using (Html.BeginForm("SignIn", "Login", FormMethod.Post, new { @id = "LoginForm" }))
                {
                 @Html.AntiForgeryToken()
                <div class="group">
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new { @type = "email" })
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
                <div class="group">
                    @Html.LabelFor(x => x.Password)
                    @Html.PasswordFor(x => x.Password)
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                    <div class="group button_container">
                        <button>Войти</button>
                    </div>


                <div class="col-xl-4 col-lg-6 wow slideInUp" data-wow-delay="0.3s">

                    
                    <div class="col-12">
                        <a href="@Url.Action("SignUp", "Login")" class="btn btn-primary w-100 py-3">Регистрация</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 wow slideInUp" data-wow-delay="0.6s">


                </div>
                }
            </div>
                
        </div>
                
    </div>
                